<app-navbar></app-navbar>
<div class="main-container">
    <div class="documents-container">
        <h2 style="text-align: center; font-weight: bold; color: #0275d8;">Documents</h2>
        <div class="drawings-container">
            <div style="font-size: larger; font-weight: bold; color: #0275d8;">Drawings</div>
            <ul class="scroll">
                <li><a href="https://github.com/">hi</a></li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
            </ul>
        </div>
        <div class="rfi-container">
            <div style="font-size: larger; font-weight: bold; color: #0275d8;">RFI/Site Instruction</div>
            <ul class="scroll">
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
            </ul>
        </div>
        <div class="any-container">
            <div style="font-size: larger; font-weight: bold; color: #0275d8;">Any Other</div>
            <ul class="scroll">
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
            </ul>
        </div>
    </div>
    <div class="other-container">
        <div class="todo-container">
            <h2 style=" font-weight: bold; color: #0275d8;">Todos</h2>
            <div class="container cards">
                <div *ngFor="let task of tasks; index as i;">
                    <div class="card text-white bg-primary todoCard" (click)="showDetails(task._id)">
                        <div class="card-body" style="padding-top: 4% !important;">
                            <li class="card-title">{{task.taskName}}</li> &nbsp;<p *ngIf="task.isCompleted">Approval pending</p>
                          </div>
                    </div> 
                </div>               
            </div>
        </div>
        <div class="comments-container">
            <h2 style=" font-weight: bold; color: #0275d8;">Comments</h2>
            <form class="comments">
                <textarea rows="10" cols="50"></textarea>
            </form>
        </div>
    </div>
</div>