<h2 mat-dialog-title>View Task</h2>

<mat-dialog-content>
        <div class="form-group">
           <label>Task Name</label>
           <input disabled="true" type="text" class="form-control" value="{{task.taskName}}">
        </div>
        <div class="form-group">
           <label>Description</label>
           <textarea disabled="true" rows="5" class="form-control" value="{{task.description}}"></textarea>
        </div>
        <div class="form-group">
            <label>Start Date</label>
            <input class="form-control" disabled="true" type="text" value="{{startDate}}">
        </div>
        <div class="form-group">
            <label>End Date</label>
            <input class="form-control" type="text" disabled="true" value="{{endDate}}">
        </div>
        <div class="button-container">
            <button *ngIf="other" type="submit" class="btn btn-success" (click)="update()">Mark Complete</button>
            <button *ngIf="admin" type="submit" class="btn btn-success" (click)="updateAsApproved()">Approve</button>
            <button style="margin-left: 2px;" type="submit" class="btn btn-danger" (click)="close()">Close</button>
        </div>          

 
</mat-dialog-content>
