<nav class="navbar navbar-light bg-primary" style="height: min-content;">
    <a class="navbar-brand" href="#" style="font-size: medium;font-weight: bold;">
      <img src="../../../assets/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Project Handler
      <form class="form-inline searchBar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="my-button-container" style="color: white">
        <div class="nav-item dropdown">
          <div data-toggle="dropdown" class="dropdownn">
            <div class="text">
                &nbsp;
            </div>
            <div class="avatar">
              <img src="../../../assets/images/userIcon.jpg" class="rounded-circle" />
            </div>
          </div>
          <app-notifications style="margin-left: -32px;margin-top: -23px;position: absolute;"></app-notifications>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Profile</a>
            <a class="dropdown-item" >Logout</a>
          </div>
        </div>
      </div>
    </a>
  </nav>
