<div style="display: flex;">
<div class="containerx">
  <h1 class="text-center mt-5 mb-2" style="font-weight: bold;">Profile</h1>
  <div class="user-details">
    <div class="profile-picture">
      <img [src]="user.profilePicture" alt="" />
    </div>
    <div class="item">
      <div class="title">First Name:</div>
      <div class="value">
        {{ user.firstName }}
      </div>
    </div>
    <div class="item">
      <div class="title">Last Name:</div>
      <div class="value">
        {{ user.lastName }}
      </div>
    </div>
    <div class="item">
      <div class="title">Mobile Number:</div>
      <div class="value">
        {{ user.mobileNumber }}
      </div>
    </div>
    <div class="item">
      <div class="title">Email:</div>
      <div class="value">
        {{ user.email }}
      </div>
    </div>
    </div>
  <button class="btn btn-primary float-right m-5" (click)="openEditProfile()">
    Edit Profile
  </button>
</div>

<div class="containery">
  <div class="todo-container">
    <div class="todo">
        <h2 style=" font-weight: bold; color: #0275d8;">Todos</h2>
        <div class="container cards">
            <div *ngFor="let task of onGoing; index as i;">
                <div class="card text-white bg-primary todoCard" (click)="showDetails(task._id)">
                    <div class="card-body" style="padding: 1.8% !important;display: flex;">
                        <li class="card-title" style="font-size:18px; font-weight: bolder;">{{task.taskName}}</li> &nbsp;<p class="pending" *ngIf="task.isCompleted">Approval pending</p>
                      </div>
                </div> 
            </div>               
        </div>
    </div>
    <div class="completed">
        <h2 style=" font-weight: bold; color: #0275d8;">Completed</h2>
        <div class="container cards">
            <div *ngFor="let task of completed; index as i;">
                <div class="card text-white bg-primary todoCard" (click)="showDetails(task._id)">
                    <div class="card-body" style="padding: 1.8% !important;display: flex;">
                        <li class="card-title" style="font-size:18px; font-weight: bolder;">{{task.taskName}}</li>
                      </div>
                </div> 
            </div>               
        </div>
    </div>
</div>
</div>
</div>